<header class="header header-background" >
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <!-- <img src="../../../assets/img/logo.png" alt="Logo" width="150" height="150"> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Health Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messaging</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Medication Management</a>
            </li>
          </ul>
        </div>
        <div class="ml-auto">
          <a class="btn btn-teal btn-lg" href="#">Get Started</a>
        </div>
      </nav>
    </div>
  </header>

  <section class="hero hero-background  py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center text-md-left">
            <h1 class="display-4">Revolutionize Your Health Journey, Discover Your Path to Optimal Health</h1>
            <p class="lead">Get Started Today</p>
            <a class="btn btn-teal btn-lg" href="#">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <!-- <img src="your-image.jpg" alt="Image" class="img-fluid"> -->
        </div>
      </div>
    </div>
  </section>
  
  
  