<!-- <div class="container">
    <h2>Questionnaire</h2>
    <form (submit)="submitQuestionnaire()">
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="age" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" [(ngModel)]="gender" required>
          <option value="">Select</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" [(ngModel)]="location" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div> -->
  



<div class="container">
  <table>
    <li class="logo">
      <img src="assets/img/cora-logo-transp.png">
    </li>
    <li>
      <h2 class="mb-3">Let's Understand you a little better</h2>
      <form (submit)="submitQuestionnaire()">
        <div class="form-group mb-3">
          <input type="number" class="form-control" id="age" [(ngModel)]="age" placeholder="Please enter your age"  required>
        </div>
        <div class="form-group mb-3">
          <label for="gender">Gender:</label>
          <select class="form-control" id="gender" [(ngModel)]="gender" required>
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="weight" [(ngModel)]="weight" placeholder="Please enter your weight"  required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="height" [(ngModel)]="height" placeholder="Please enter your height"  required>
        </div>

        <div class="form-group mb-3">
          <label for="gender">Lifestyle:</label>
          <select class="form-control" id="lifestyle" [(ngModel)]="lifestyle" required>
            <option value="">Select</option>
            <option value="male">smoking</option>
            <option value="female">stress</option>
            <option value="other">sleep deprivation</option>
            <option value="female">fitness</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="gender">Genetic risk:</label>
          <select class="form-control" id="genetic" [(ngModel)]="genetic" required>
            <option value="">Select</option>
            <option value="male">Yes</option>
            <option value="female">No</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="gender">Health issues:</label>
          <select class="form-control" id="health" [(ngModel)]="health" required>
            <option value="">Select</option>
            <option value="male">Diabetes</option>
            <option value="female">Recent operations</option>
            <option value="other">Cardiovascular diseases</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Continue</button>
      </form>
    </li>
  </table>
</div>
