<div class="container" (click)="navigateToNextScreen()">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2>Hi, {{ userProfile.name }}. Let's check your knowledge!</h2>
        <div class="text-center" *ngIf="!quizCompleted">
          <!--h3>Question {{ currentQuestion.id }}:</h3-->
          <p>{{ currentQuestion.text }}</p>
          <ul>
            <li *ngFor="let option of currentQuestion.options">
              <div class="quiz">
                <label>
                  <span class="outer">
                    <span class="inner">
                    </span>
                  </span>
                  <span>
                    {{ option }}
                  </span>
                </label>
                <input type="radio" class="btn btn-primary" (change)="selectAnswer(option)"/>
              </div>
              
            </li>
          </ul>
        </div>
  
        <div *ngIf="quizCompleted">
          <app-result [score]="score" [currentQuiz]="currentQuiz"></app-result>
          <button class="btn btn-primary" (click)="startQuiz(1)">Start Next Quiz</button>
        </div>
      </div>
    </div>
  </div>
  
