<section class="features bg-gray py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="../../assets/img/1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Connect</h5>
                  <p class="card-text">Facilitating direct communication with healthcare professionals. And Offer a calendar view with available time slots and the ability to select preferred dates and times.</p>
                  <a href="#!" class="btn btn-teal">Book Appointments</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../assets/img/1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Health Education Resources</h5>
                  <p class="card-text">We provide comprehensive and easily understandable health education content tailored to women's health needs</p>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <a href="#!" class="btn btn-teal">Learn More</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../assets/img/1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Direct Communication with HCPs</h5>
                  <p class="card-text">Facilitate secure and private messaging or video consultations between users and healthcare professionals.</p>
                  <a href="#!" class="btn btn-teal">Book Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../assets/img/1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Community Support</h5>
                  <p class="card-text">Where you can connect with others facing similar health challenges.
                   This allows you to share experiences, provide emotional support, and exchange information and advice</p>
                  <a href="#!" class="btn btn-teal  ">Learn More</a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  