h5, .h5{
    font-size: 1.7rem;
    line-height: 1.18182;

    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;   
    margin-inline-end: 0px;

   
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}