

<div class="container">
  <table>
    <li class="logo">
      <img src="assets/img/cora-logo-transp.png">
    </li>
    <li>
      <h2 class="mb-3">Let's create an account</h2>
      <form (submit)="signup()">
        <div class="form-group mb-3">
          <!-- <label for="name">Please write your name</label> -->
          <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Please write your name" required>
        </div>
        <div class="form-group mb-3">
          <!-- <label for="email">Your email</label> -->
          <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Your email"  required>
        </div>
        <div class="form-group mb-3">
          <!-- <label for="password">Choose a password</label> -->
          <input type="password" class="form-control" id="password" [(ngModel)]="password"  placeholder="Choose a password" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </li>
  </table>
</div>