/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body {
    font-family: var(--font-family-text,'Charlie Text',sans-serif);
}

.btn-teal {
    background-color: #78D9E5;
    color: white;
  }